@model List<Marka>
@{
    ViewData["Title"] = "Index";
}

<h1>Marka Car</h1>

<div class="list-group">
    <ul class="list-group">
        @foreach(Marka marka in Model)
        {
            <li >
                <a asp-controller="Model" asp-action="index" asp-route-id="@marka.Id">
                    @marka.MarkaName
            </a></li>
        }
    </ul>
</div>

